body {
    background-color: lightgreen;
}
h1 {
    font-family: Verdana, sans-serif;
}
a {
    color: black;
    font-weight: 500;
    font-size: 20px;
}
img {
    height: auto;
    width: 300px;
}
p {
    font-family: Helvetica, sans-serif;
}
h4 {
    font-family: Verdana, sans-serif;
}